

.content-wrapper {
  height: auto;
  margin: 0 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.hero-wrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  width: 80%;
  justify-content: center;
  margin: auto;
}

.hero-div h1 {
  color: #eb1700;
}

.hero-div h3 {
  width: 100%;
}

.hero-div {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 50%;
  height: auto;
}

.toc-div {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-left: 1rem;
}

/* .toc-div h4 {
  padding-bottom: 1rem;
} */

.toc-div ul {
  list-style: none;
  line-height: 2rem;
  padding-left: .5rem;
}

a {
  color: #eb1700;
  font-weight: 600;
}

.padding-div {
  height: 2rem;
}


.hero-image-div {
  width: 50%;
  height: auto;
}

.hero-image-div img {
  width: 90%;
  margin: auto;
}


.content-div {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  padding-bottom: 3rem;
  margin: auto;
}

.content-div h3 {
  text-align: center;
  padding-bottom: 1rem;
  color: #eb1700;
}

.content-div p {
  text-align: center;
  padding-bottom: 2rem;
}


.content-div h4 {
  text-align: center;
  padding: 1rem;
}

.iframe-div {
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
  margin: auto;
}

.course-iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
}


.image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-div a {
  margin: auto;
  width: 50%;
}

.image-div img {
  width: 100%;
  margin: auto;
}


.pdf-iframe {
  width: 100%;
  height: auto;
  padding-bottom: 3rem;
  margin: auto;
}

.pdf-iframe iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
}

.video-iframe {
  width: 100%;
  height: auto;
  padding-bottom: 3rem;
  margin: auto;
  display: flex;
  justify-content: center;
}

.video-iframe iframe {
  aspect-ratio: 16 / 9;
  width: 80%;
  height: auto;
}
