:root {
  --primary-green: #007172;
  --primary-red: #D94F04;
  --secondary-yellow: #FDFCDC;
  --secondary-green:#CBDAD5;
  --secondary-red:#FFE1DD;
}

.page-container {
  position: relative;
  width: 100%;
}

.footer-div {
  position: absolute;
  bottom: 0;
  background-color: var(--primary-green);
  height: 2rem;
  width: 100%;
  margin-top: 1rem;
}

.connect-content {
  width: 50%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
}

.connect-content h2 {
  color: var(--secondary-yellow);
  margin: auto;
}

.connect-content .about-me-image {
  max-width: 3rem;
  height: auto;
  margin: auto;
}

.connect-options-div {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.connect-options-div img {
  width: 2rem;
}





@media (max-width: 600px) {
   .footer-div 
   {
    height: auto;
   }
  .connect
  {
    display: none;
  }
  .connect-options-div
  {
    margin: 1rem;
  }
}
