:root {
  --primary-green: #007172;
  --primary-red: #D94F04;
  --secondary-yellow: #FDFCDC;
  --secondary-green:#CBDAD5;
  --secondary-red:#FFE1DD;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-green);
  color: var(--secondary-yellow);
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 10001;
}

.home-icon {
  align-items: flex-start;
  height: fit-content;
  margin-left: 1rem;
  padding: 1rem 0;
}

.home-icon img {
  width: 7rem;
  height: auto;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: var(--secondary-yellow);
  padding: 1rem 2rem;
  display: block;
  font-weight: 600;
  font-size: 1rem;
}

.navbar-links li a:hover {
  color: var(--primary-red);
}

.toggle-btn {
  position: absolute;
  top: 1rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
}

.toggle-btn .bar {
  height: 3px;
  width: 100%;
  background-color: var(--secondary-yellow);
  border-radius: 10px;
}

@media (max-width: 600px) {
  .toggle-btn {
    display: flex;
  }
  .navbar-links {
    width: 100%;
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .home-icon{
    margin-left: 2rem;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links li a:hover {
    color: var(--primary-red);
  }

  .navbar-links.active {
    display: flex;
  }
  
}
