:root {
  --primary-green: #007172;
  --primary-red: #D94F04;
  --secondary-yellow: #FDFCDC;
  --secondary-green:#CBDAD5;
  --secondary-red:#FFE1DD;
}

/* HERO SECTION GLOBAL */

.projects-hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  align-items: center;
  padding-top: 3.5rem;
}


/* HERO SECTION LEFT COLUMN */

.projects-hero-column-left {
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: .25rem;
  width: 90%;
}

.projects-hero-column-left a {
  padding-top: 2rem;
}

#project-page-down-trigger {
  cursor: pointer;
}



/* HERO SECTION RIGHT COLUMN */

.projects-hero-column-right {
  background-color: var(--secondary-green);
  padding: 2rem 3rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  height: 100%;
}

.projects-hero-column-right h3 {
  color: var(--primary-red);
}

.projects-hero-column-right ol {
  line-height: 1.5rem;
  font-size: .9rem;
}

.tech-stack-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 3rem;
}



/* PROJECT SECTION GLOBAL */

.project-card-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: .5rem;
}

.project-card-hero img {
   width: 75%;
   padding-top: 1rem;
}

.project-card-info {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}


.project-overview p {
  padding-bottom: .5rem;
}


.project-tech-stack button {
  margin: auto;
}

.mobile-view-course-btn
{
  display: none;
}


/* RED CARD SPECIFIC */

.project-section-red {
  padding: 2rem 0rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  width: 80%;
  margin: auto;
}

.project-section-red .project-card-hero  {
  border: 2px solid var(--primary-red);
  border-radius: .5rem;

  padding: 3rem;
} 

.project-section-red .project-card-info  {
  background-color: var(--secondary-red);
  border-radius: .5rem;
  padding: 3rem;
} 



/* GREEN CARD SPECIFIC */
.project-section-green {
  padding: 4rem 0rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  width: 80%;
  margin: auto;
}

.project-section-green .project-card-hero  {
  border: 2px solid var(--primary-green);
  border-radius: .5rem;
  padding: 3rem;
} 

.project-section-green .project-card-info  {
  background-color: var(--secondary-green);
  border-radius: .5rem;
  padding: 3rem;
} 


.bottom-project {
  padding-bottom: 12rem;
}



/* SCROLL UP TRIGGER STYLE */
.back-to-top-div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  padding: 3rem 0rem 9rem 0rem;

}

.back-to-top-div a {
  cursor: pointer;
}

.back-to-top-div img {
  width: 4rem;
}


@media (max-width: 600px) {
  .projects-hero-section
  {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 6rem 0 2rem 0;
  }
  .projects-hero-column-left
  {
    width: 100%;
    align-items: center;
    padding: 0 1rem 0 1rem;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    row-gap: .5rem;
  }
  #project-page-down-trigger
  {
    width: 100%;
    text-align: center;
    padding: 0;
  }


  .projects-hero-column-right 
  {
    padding: 2rem 1rem;
    width: 100%;
  }
  .column-right-row-2
  {
    display: none;
  }
  .column-right-row-3
  {
    display: none;
  }


  .project-section-green
  {
    grid-template-columns: 1fr;
    width: 90%;
    padding: 1rem 0;
    margin: auto;
  }
  .project-section-green .project-card-hero
  {
    grid-row: 1 / 2;
  }
  .project-section-green .project-card-info
  {
    grid-row: 2 / 3;
  }

  .project-section-red
  {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .desktop-view-course-btn
  {
    display: none;
  }
  .mobile-view-course-btn 
  {
    display: block;
    padding-top: 2rem;
  }


}





